/****************************************tag selectors**********************************************/
h1{color: purple;}

img:hover {
  background-color: gold;
}

p{
  color: red;
}
/*****************************************class selectors*******************************************/
.badminton {
  background-color: blue;
}
.discus {
  background-color: yellow;
}
/***************************************id selectors***********************************************/
